.fashion-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .fashion-item {
    width: 260px;
    text-align: center;
  }
  
  .fashion-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  